[submodule "Travel-Explorer"]
  path = Travel-Explorer
  url = https://github.com/Tristenh/Travel-Explorer

  
[submodule "5-day-weather-forecast"]
  path = 5-day-weather-forecast
  url = https://github.com/Tristenh/5-day-weather-forecast
  
  
[submodule "work-day-scheduler"]
  path = work-day-scheduler
  url = https://github.com/Tristenh/work-day-scheduler
  
